{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "autoscaling:*"
                "route53:*",
                "route53domains:*",
                "cloudfront:*",
                "cloudwatch:*",
                "ec2:*",
                "iam:*",
                "organizations:*",
                "s3:*",
                "s3-object-lambda:*"
            ],
            "Resource": "*"
        }
    ]
}
